/*Variables*/
/*Importando fuente*/
@font-face {
  src: url("../../fonts/Gilroy-Bold.ttf");
  font-family: "Gilroy-Bold";
}
:root {
  --colorBlancogris: #f4f4f4;
  --colorBlanco: #ffffff;
  --colorAzul1: #1f3f68;
  --colorAzul2: #316099;
  --colorAzul3: #356ead;
  --colorCelesteOscuro: #5a98d0;
  --colorCelesteClaro: #98c3e8;
  --colorAzul1Hover: #006eff;
  --colorNegroRgba: rgba(0, 0, 0, 0.2);
  --colorNegro: #222222;
  --colorGradient: linear-gradient(211.87deg, #98d0fc 2.46%, #3481d7 93.24%);
}

/*RESETEANDO ESTILOS*/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

li {
  list-style: none;
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

h2 {
  font-family: "Helvetica";
}

h1,
p,
span {
  font-family: Arial;
}

a {
  text-decoration: none;
  font-family: "Helvetica";
}

/*Variables*/
/*Importando fuente*/
@font-face {
  src: url("../../fonts/Gilroy-Bold.ttf");
  font-family: "Gilroy-Bold";
}
:root {
  --colorBlancogris: #f4f4f4;
  --colorBlanco: #ffffff;
  --colorAzul1: #1f3f68;
  --colorAzul2: #316099;
  --colorAzul3: #356ead;
  --colorCelesteOscuro: #5a98d0;
  --colorCelesteClaro: #98c3e8;
  --colorAzul1Hover: #006eff;
  --colorNegroRgba: rgba(0, 0, 0, 0.2);
  --colorNegro: #222222;
  --colorGradient: linear-gradient(211.87deg, #98d0fc 2.46%, #3481d7 93.24%);
}

.header {
  width: 100%;
  height: 80px;
  background: var(--colorBlanco);
}
.header .contenedor {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.9rem;
}
.header-menu {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-item {
  width: 100%;
  height: 100%;
  display: inherit;
  align-items: inherit;
}
.header-list {
  width: 5.5rem;
  height: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: space-between;
}
.header-link {
  width: 100%;
  height: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: center;
  color: var(--colorAzul1);
  font-size: 0.9rem;
  font-weight: bold;
  transition: 0.25s ease;
}
.header-link.active {
  color: var(--colorAzul1Hover);
}
@media (min-width: 768px) {
  .header .contenedor {
    padding: 0 1.5rem;
  }
  .header-list {
    width: 8rem;
  }
  .header-link {
    font-size: 1.3rem;
  }
}
@media (min-width: 1200px) {
  .header .contenedor {
    padding: 0;
  }
}

/*Variables*/
/*Importando fuente*/
@font-face {
  src: url("../../fonts/Gilroy-Bold.ttf");
  font-family: "Gilroy-Bold";
}
:root {
  --colorBlancogris: #f4f4f4;
  --colorBlanco: #ffffff;
  --colorAzul1: #1f3f68;
  --colorAzul2: #316099;
  --colorAzul3: #356ead;
  --colorCelesteOscuro: #5a98d0;
  --colorCelesteClaro: #98c3e8;
  --colorAzul1Hover: #006eff;
  --colorNegroRgba: rgba(0, 0, 0, 0.2);
  --colorNegro: #222222;
  --colorGradient: linear-gradient(211.87deg, #98d0fc 2.46%, #3481d7 93.24%);
}

.banner {
  width: 100%;
  height: 250px;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--colorGradient);
  position: relative;
  z-index: 0;
}
.banner::after {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
  z-index: -1;
  background-image: url("../../../../img/bannerVector.png");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-title {
  text-align: center;
  color: var(--colorBlanco);
  font-size: 1.5rem;
  margin-bottom: 18px;
  font-weight: lighter;
}
.banner-description {
  width: 75%;
  text-align: center;
  color: var(--colorBlanco);
  font-size: 0.9rem;
  font-weight: lighter;
}
@media (min-width: 768px) {
  .banner-description {
    width: 50%;
    font-size: 1rem;
  }
  .banner-title {
    font-size: 2.3rem;
  }
}
@media (min-width: 1200px) {
  .banner-description {
    width: 30rem;
    font-size: 1.2rem;
  }
  .banner-title {
    font-size: 2.6rem;
  }
}

/*Variables*/
/*Importando fuente*/
@font-face {
  src: url("../../fonts/Gilroy-Bold.ttf");
  font-family: "Gilroy-Bold";
}
:root {
  --colorBlancogris: #f4f4f4;
  --colorBlanco: #ffffff;
  --colorAzul1: #1f3f68;
  --colorAzul2: #316099;
  --colorAzul3: #356ead;
  --colorCelesteOscuro: #5a98d0;
  --colorCelesteClaro: #98c3e8;
  --colorAzul1Hover: #006eff;
  --colorNegroRgba: rgba(0, 0, 0, 0.2);
  --colorNegro: #222222;
  --colorGradient: linear-gradient(211.87deg, #98d0fc 2.46%, #3481d7 93.24%);
}

/*Contenido principal*/
.main-container {
  width: 100%;
  height: auto;
}
.main-container-title {
  color: var(--colorAzul3);
  font-size: 1.4rem;
  margin-bottom: 1.8rem;
}

/*Articulo principal*/
.main-article {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  grid-template-areas: "imagen" "infoPost";
  margin-bottom: 1.2rem;
}
.main-article-info {
  grid-area: infoPost;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main-article-title {
  color: var(--colorAzul1);
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}
.main-article-info-text {
  color: var(--colorNegro);
  font-size: 0.9rem;
  line-height: 26px;
}
.main-article .article-image {
  grid-area: imagen;
  width: 100%;
  display: flex;
}
.main-article .article-image img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .main-article {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "infoPost imagen";
  }
  .main-article-title {
    font-size: 1.3em;
  }
  .main-article-info-text {
    font-size: 1rem;
  }
}
@media (min-width: 1200px) {
  .main-article-title {
    font-size: 2.2em;
  }
}

/*Articulos principales 3 columnas*/
.article-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  grid-gap: 20px;
}
@media (min-width: 768px) {
  .article-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.article {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.article-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.article-info-title {
  font-size: 1.3rem;
  margin: 13px 0;
  color: var(--colorAzul1);
}
.article-info-text {
  margin-bottom: 13px;
  font-size: 0.9rem;
  line-height: 26px;
}
@media (min-width: 768px) {
  .article-info-title {
    font-size: 1.1rem;
  }
  .article-info-text {
    font-size: 1rem;
  }
}
@media (min-width: 1200px) {
  .article-info-title {
    font-size: 1.4rem;
  }
}
.article-image {
  width: 100%;
  display: flex;
}
.article-image img {
  width: 100%;
  display: flex;
}

.see-popular-article {
  width: 100%;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1.5em;
  border-bottom: 1px solid var(--colorNegroRgba);
}
.see-popular-article a {
  text-transform: uppercase;
  color: var(--colorAzul3);
  font-weight: bold;
}

/*Variables*/
/*Importando fuente*/
@font-face {
  src: url("../../fonts/Gilroy-Bold.ttf");
  font-family: "Gilroy-Bold";
}
:root {
  --colorBlancogris: #f4f4f4;
  --colorBlanco: #ffffff;
  --colorAzul1: #1f3f68;
  --colorAzul2: #316099;
  --colorAzul3: #356ead;
  --colorCelesteOscuro: #5a98d0;
  --colorCelesteClaro: #98c3e8;
  --colorAzul1Hover: #006eff;
  --colorNegroRgba: rgba(0, 0, 0, 0.2);
  --colorNegro: #222222;
  --colorGradient: linear-gradient(211.87deg, #98d0fc 2.46%, #3481d7 93.24%);
}

.all-article {
  width: 100%;
  height: auto;
}
.all-article-title {
  margin: 2.5em 0 2em 0;
  color: var(--colorAzul3);
  text-transform: uppercase;
  font-size: 1.5em;
}

.all-article-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 32px;
}
.all-article-container .items {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-column-gap: 20px;
}
.all-article-container .items .article-title {
  color: var(--colorAzul1);
  font-size: 1.1rem;
  margin: 13px 0;
}
.all-article-container .items .image-article {
  display: flex;
  width: 100%;
}
.all-article-container .items .image-article img {
  display: flex;
  width: 100%;
}
.all-article-container .items:nth-child(3), .all-article-container .items:nth-child(4), .all-article-container .items:nth-child(5) {
  display: none;
}
@media (min-width: 768px) {
  .all-article-container .items {
    grid-template-columns: auto 1fr;
  }
  .all-article-container .items:nth-child(3), .all-article-container .items:nth-child(4), .all-article-container .items:nth-child(5) {
    display: grid;
  }
}

/*Variables*/
/*Importando fuente*/
@font-face {
  src: url("../../fonts/Gilroy-Bold.ttf");
  font-family: "Gilroy-Bold";
}
:root {
  --colorBlancogris: #f4f4f4;
  --colorBlanco: #ffffff;
  --colorAzul1: #1f3f68;
  --colorAzul2: #316099;
  --colorAzul3: #356ead;
  --colorCelesteOscuro: #5a98d0;
  --colorCelesteClaro: #98c3e8;
  --colorAzul1Hover: #006eff;
  --colorNegroRgba: rgba(0, 0, 0, 0.2);
  --colorNegro: #222222;
  --colorGradient: linear-gradient(211.87deg, #98d0fc 2.46%, #3481d7 93.24%);
}

.footer-blog {
  width: auto;
  height: auto;
  background: var(--colorAzul2);
  margin-right: 1rem;
  border-top-right-radius: 200px;
}
@media (min-width: 768px) {
  .footer-blog .contenedor {
    padding: 0 4rem;
  }
}
@media (min-width: 1200px) {
  .footer-blog .contenedor {
    padding: 0;
  }
}
.footer-blog-description {
  padding: 5rem 0;
  border-bottom: 1px solid var(--colorBlanco);
}
.footer-blog-description .contenedor {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .footer-blog-description .contenedor {
    flex-direction: row;
    padding: 0 4rem;
  }
}
@media (min-width: 1200px) {
  .footer-blog-description .contenedor {
    padding: 0;
  }
}
.footer-blog-description-footer {
  width: 100%;
}
@media (min-width: 768px) {
  .footer-blog-description-footer {
    width: 20rem;
  }
}
.footer-blog-description-title {
  color: var(--colorBlanco);
  font-size: 1.8rem;
  margin-bottom: 2rem;
  font-weight: lighter;
}
.footer-blog-description-paragraph {
  color: var(--colorBlanco);
  font-size: 1rem;
  line-height: 26px;
}
.footer-blog-items {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 0 40px;
  padding-top: 5rem;
  position: relative;
}
@media (min-width: 768px) {
  .footer-blog-items {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
  }
}
@media (min-width: 1200px) {
  .footer-blog-items {
    grid-template-columns: repeat(3, 1fr);
  }
}
.footer-blog-items-contact {
  width: 100%;
  height: auto;
}
.footer-blog-items-header {
  display: flex;
  margin-bottom: 2rem;
}
.footer-blog-items-header .logo {
  display: inline-flex;
  margin-right: 1.5em;
}
.footer-blog-items-header .logo .circle.uno {
  background: var(--colorCelesteClaro);
}
.footer-blog-items-title-compay, .footer-blog-items-about-us, .footer-blog-items-follow-us {
  color: var(--colorBlanco);
}
.footer-blog-items-title-compay {
  font-size: 1.8rem;
  font-family: "Gilroy-Bold";
}
.footer-blog-items-about-us, .footer-blog-items-follow-us {
  font-size: 1.3rem;
}
.footer-blog-items-contact-info {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-blog-items-contact-info a {
  display: block;
  margin-bottom: 1rem;
  color: var(--colorBlanco);
}
@media (min-width: 768px) {
  .footer-blog {
    margin-right: 1.5rem;
  }
}

/*Variables*/
/*Importando fuente*/
@font-face {
  src: url("../../fonts/Gilroy-Bold.ttf");
  font-family: "Gilroy-Bold";
}
:root {
  --colorBlancogris: #f4f4f4;
  --colorBlanco: #ffffff;
  --colorAzul1: #1f3f68;
  --colorAzul2: #316099;
  --colorAzul3: #356ead;
  --colorCelesteOscuro: #5a98d0;
  --colorCelesteClaro: #98c3e8;
  --colorAzul1Hover: #006eff;
  --colorNegroRgba: rgba(0, 0, 0, 0.2);
  --colorNegro: #222222;
  --colorGradient: linear-gradient(211.87deg, #98d0fc 2.46%, #3481d7 93.24%);
}

.contenedor {
  height: auto;
  margin: 0 auto;
  padding: 0 0.9rem;
}
@media (min-width: 1200px) {
  .contenedor {
    max-width: 58rem;
    padding: 0;
  }
}

.logo {
  width: auto;
  position: relative;
  display: flex;
  align-items: center;
}
.logo .circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
}
.logo .circle.uno {
  background: var(--colorAzul2);
  border: 2px solid var(--colorAzul2);
}
.logo .circle.dos {
  background: var(--colorBlanco);
  border: 2px solid var(--colorAzul2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Gilroy-Bold";
  position: absolute;
  left: 15px;
}

.search {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media (min-width: 1200px) {
  .search {
    height: 8rem;
  }
}
.search-form {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-icon {
  width: 40px;
  height: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--colorBlancogris);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.search-icon .fas.fa-search {
  color: var(--colorAzul2);
  font-size: 1rem;
}
.search-input {
  width: calc(100% - 40px);
  height: 56px;
  padding: 10px;
  outline: none;
  border: 0;
  background: var(--colorBlancogris);
  color: var(--colorAzul2);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 1rem;
}
.search-input-input::placeholder {
  color: var(--colorAzul2);
  font-size: 1rem;
}

/*Mas informacion, iconos, author, hours*/
.article-more-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 26px;
  margin-top: 0.5rem;
}
.article-more-info .author {
  display: flex;
  flex-direction: column;
}
.article-more-info .author-name {
  color: var(--colorAzul1);
  font-size: 14px;
  margin-bottom: 4px;
  font-weight: bold;
}
.article-more-info .author-hour-post {
  color: var(--colorAzul1);
  opacity: 0.4;
  font-size: 14px;
}
.article-more-info .article-icons {
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.article-more-info .article-icons .fas.fa-share-alt, .article-more-info .article-icons .fas.fa-bookmark {
  color: var(--colorAzul3);
  font-size: 14px;
  cursor: pointer;
}

/*Paginador de articulos*/
.all-article-pages {
  width: 100%;
  height: 100px;
  display: none;
}
.all-article-pages .btn-page {
  border: 0;
  background: none;
  color: var(--colorAzul3);
  cursor: pointer;
  font-size: 1rem;
}
.all-article-pages .btn-page .fas.fa-arrow-left {
  margin-right: 0.9rem;
}
.all-article-pages .btn-page .fas.fa-arrow-right {
  margin-left: 0.9rem;
}
@media (min-width: 768px) {
  .all-article-pages {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/*new post mobile button*/
.new-post-mobile {
  width: 100%;
  display: flex;
  align-items: center;
  height: 5rem;
  justify-content: flex-end;
  text-align: right;
  padding: 0.5rem 2rem 0 0;
}
.new-post-mobile-link {
  color: var(--colorAzul3);
  font-size: 1rem;
  font-family: Arial;
  font-weight: bold;
}
@media (min-width: 768px) {
  .new-post-mobile {
    display: none;
  }
}

/*Colocar estilos de boton a reutilizar*/
.container-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.container-btn .btn {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 1rem;
  transition: 0.3s ease all;
}
.container-btn .btn.primary {
  background: var(--colorCelesteOscuro);
  color: var(--colorBlanco);
}
.container-btn .btn.primary:hover {
  background: var(--colorCelesteClaro);
  color: var(--colorNegro);
}
@media (min-width: 768px) {
  .container-btn {
    width: 30%;
  }
}
@media (min-width: 1200px) {
  .container-btn {
    width: 40%;
  }
}

/*contact more repeat*/
.contact {
  margin-bottom: 1.5rem;
  color: var(--colorBlanco);
  display: inline-flex;
}
.contact span {
  margin-right: 20px;
}

/*Copy right component*/
.footer-blog-copy {
  width: 100%;
  height: 60px;
  margin: 20px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer-blog-copy-text {
  color: var(--colorBlanco);
  opacity: 0.4;
}

/*returnTop*/
.returnTop {
  position: fixed;
  bottom: 0;
  right: 2rem;
  border-radius: 50%;
  background: var(--colorCelesteOscuro);
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.returnTop:hover {
  background: var(--colorCelesteClaro);
}
.returnTop:hover i {
  color: var(--colorCelesteOscuro);
}
.returnTop i {
  color: var(--colorBlanco);
  font-size: 1.5rem;
}

@font-face {
  src: url("../../fonts/Gilroy-Bold.ttf");
  font-family: "Gilroy-Bold";
}

/*# sourceMappingURL=main.css.map */
