//Mixins
//tablets
$tabletV: 768px;
//desktops
$desktop: 1200px;

//Desktop
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
//Tablet
@mixin tabletV {
  @media (min-width: #{$tabletV}) {
    @content;
  }
}

//Size button
@mixin buttonSize($width, $height) {
  width: $width;
  height: $height;
}
