@import "../1-Settings/settings.scss";
@import "../2-Tools/tools.scss";
// Contenedor reutilizable
.contenedor {
  height: auto;
  margin: 0 auto;
  padding: 0 0.9rem;
  @include desktop {
    max-width: 58rem;
    padding: 0;
  }
}
//Logo componenet
.logo {
  width: auto;
  position: relative;
  display: flex;
  align-items: center;

  .circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
  }

  .circle.uno {
    background: var(--colorAzul2);
    border: 2px solid var(--colorAzul2);
  }

  .circle.dos {
    background: var(--colorBlanco);
    border: 2px solid var(--colorAzul2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $fontGilroyBold;
    position: absolute;
    left: 15px;
  }
}
// Input reutilizable
.search {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &-form {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-icon {
    width: 40px;
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--colorBlancogris);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    & .fas.fa-search {
      color: var(--colorAzul2);
      font-size: 1rem;
    }
  }

  &-input {
    width: calc(100% - 40px);
    height: 56px;
    padding: 10px;
    outline: none;
    border: 0;
    background: var(--colorBlancogris);
    color: var(--colorAzul2);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1rem;
    &-input::placeholder {
      color: var(--colorAzul2);
      font-size: 1rem;
    }
  }
}
/*Mas informacion, iconos, author, hours*/
.article-more-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 26px;
  margin-top: 0.5rem;

  .author {
    display: flex;
    flex-direction: column;

    &-name {
      color: var(--colorAzul1);
      font-size: 14px;
      margin-bottom: 4px;
      font-weight: bold;
    }
    &-hour-post {
      color: var(--colorAzul1);
      opacity: 0.4;
      font-size: 14px;
    }
  }
  .article-icons {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    & .fas.fa-share-alt,
    & .fas.fa-bookmark {
      color: var(--colorAzul3);
      font-size: 14px;
      cursor: pointer;
    }
  }
}
/*Paginador de articulos*/
.all-article-pages {
  width: 100%;
  height: 100px;
  display: none;

  .btn-page {
    border: 0;
    background: none;
    color: var(--colorAzul3);
    cursor: pointer;
    font-size: 1rem;

    & .fas.fa-arrow-left {
      margin-right: 0.9rem;
    }

    & .fas.fa-arrow-right {
      margin-left: 0.9rem;
    }
  }
  @include tabletV {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/*new post mobile button*/
.new-post-mobile {
  width: 100%;
  text-align: right;
  padding: 0.5rem 2rem 0 0;

  &-link {
    color: var(--colorAzul3);
    font-size: 1rem;
    font-family: Arial;
    font-weight: bold;
  }

  @include tabletV {
    display: none;
  }
}
/*Colocar estilos de boton a reutilizar*/
.btn {
  @include buttonSize(220px, 56px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 1rem;
  transition: 0.3s ease all;
}
.btn.primary {
  background: var(--colorCelesteOscuro);
  color: var(--colorBlanco);
}
.btn.primary:hover {
  background: var(--colorCelesteClaro);
  color: var(--colorNegro);
}
/*contact more repeat*/
.contact {
  margin-bottom: 1.5rem;
  color: var(--colorBlanco);
  display: inline-flex;

  span {
    margin-right: 20px;
  }
}

/*Copy right component*/
.footer-blog-copy {
  width: 100%;
  height: 60px;
  margin: 20px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &-text {
    color: var(--colorBlanco);
    opacity: 0.4;
  }
}
